body {
    font-family: Quicksand, Helvetica, sans-serif;
    font-weight: 400;
    background: #e9e9e9;
    margin: 0;
}

section {
    margin: 0 auto;
    max-width: 48em;
    min-width: 24em;
    background: white;
}

header, aside {
    margin: 1em;
    max-width: 46em;
    min-width: 22em;
    border-bottom: 0.1em solid #e9e9e9;
}

header {
    padding: 1em;
    background: #4e4e4e;
    font-family: Lemonada, cursive;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header .subtitle {
    font-size: 1.5em;
    margin: 0;
}

figure {
    margin: 0;
    margin-top: -1.1em;
    position: relative;
}

figure figcaption {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0.25em;
    padding: 0.25em;
    background-color: rgba(255, 255, 255, 0.7);
}

figure img {
    object-fit: cover;
    width: 100%;
    min-height: 11em;
    max-height: 23em;
    border-top: 0.1em solid #e9e9e9;
    border-bottom: 0.1em solid #e9e9e9;
}

aside, main, header {
    background: white;
}

aside {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

aside div {
    display: inline-block;
    margin: 0.5em 0;
}

aside div#tags {
    width: 100%;
}

aside table tbody {
    margin: 0;
    padding: 0;
}

aside table td {
    padding-right: 1em;
}

aside ul {
    padding-left: 0;
    margin: 0.5em 1em;
}

main {
    padding: 1em;
}

main li {
    margin: 0.5em 0em;
    padding: 0;
}

table {
    border-collapse: collapse;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: 480;
}

a {
    color: #0077aa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
