<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <section>
        {{- partial "header.html" . -}}
        <aside>
          {{- block "aside" . }}{{- end }}
        </aside>
        <main>
          {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
      </section>
    </body>
</html>
