{{- define "aside" }}

{{- if .Param "ingredients" }}
<div id="ingredients">
  Benodigdheden:
  <ul>
    {{- range .Params.ingredients }}
    <li>{{ . }}</li>
    {{- end }}
  </ul>
</div>
{{- end }}

<div id="summary">
  <table>
    {{- if .Param "yield" }}
    <tr id="yield">
      <td>Opbrengst:</td>
      <td>{{ .Params.yield }}</td>
    </tr>
    {{- end }}
    {{- if .Param "workTime" }}
    <tr id="work-time">
      <td>Bereidingsduur:</td>
      <td>{{ .Params.workTime }}</td>
    </tr>
    {{- end }}
    {{- if .Param "totalTime" }}
    <tr id="total-time">
      <td>Totale duur:</td>
      <td>{{ .Params.totalTime }}</td>
    </tr>
    {{- end }}
  </table>
</div>

{{- if .Param "tags" }}
<div id="tags">
  Tags:
  {{- $tags := (.GetTerms "tags") -}}
  {{- range $i, $t := $tags }}
  <a href="{{ $t.Permalink }}">{{ $t.LinkTitle }}</a>
  {{- if lt (add $i 1) (len $tags) -}},{{- else -}}.{{- end -}}
  {{- end }}
</div>
</div>
{{- end }}
{{ end }}

{{- define "main" }}
<article id="content">
  {{- .Content }}
</article>
{{- end }}
