<head>
  <title>{{ .Title }}</title>
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg"/>
  <link rel="alternate icon" type="image/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/styles.css">
  {{ with .Site.Params.description -}}
  <meta name="description" content="{{ . }}">
  {{ end -}}
  {{ hugo.Generator }}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
</head>
