<header>
  {{- block "title" . }}
  <h1>
    {{- if isset .Params "title" -}}
    {{- .Title -}}
    {{- else -}}
    {{- .Site.Title -}}
    {{- end -}}
  </h1>
  {{- end }}
  {{- block "subtitle" . }}
  {{- if isset .Params "subtitle" -}}
  <p class="subtitle">{{ .Params.Subtitle }}</p>
  {{- end }}
  {{- end }}
</header>
{{- block "banner_image" . }}
{{- if .Param "bannerImage" -}}
<figure>
  <img class="banner" alt="" src="{{ .Params.BannerImage }}"/>
  {{- if .Param "bannerCaption" -}}
  <figcaption>
    {{- .Params.BannerCaption -}}
  </figcaption>
  {{- end }}
</figure>
{{- end -}}
{{- end }}
