{{ define "title" }}
    <h1 class="error">404: Pagina niet gevonden</h1>
{{ end }}
{{ define "main" }}
    <p>Deze pagina kon niet gevonden worden. Probeer één van de pagina's hieronder:</p>
    <ul>
      {{ range .Pages.ByTitle }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
{{ end }}
